@page "/"

<PageTitle>Gestion de Pr&eacute;stamos</PageTitle>

<h1>Gestion de Pr&eacute;stamos</h1>

Welcome to your new app Gestion de Pr&eacute;stamos.<br />


@code {
    public List<ToastMessage> messages { get; set; } = new List<ToastMessage>();

    public void Notificacion(ToastType toastType) => messages.Add(ShowToast(toastType));

    private ToastMessage ShowToast(ToastType toastType) {
        var mensaje = new ToastMessage() {
                Type = toastType,
                Title = "tittle",
                HelpText = $"{DateTime.Now.ToString("dd/MM/yyyy")}",
                Message = $" A las {DateTime.Now.ToString("hh:mm tt")}",
            };
        toastService.Notify(mensaje); // Se agregó el servicio del Toasts
        return mensaje;
    }
}
